<h3>Заполните анкету:</h3>
<form class="contact-form" action="https://formsubmit.co/bf5699441231021465c581e4f4fddb9f" method="POST">
    <input class="initials-input" type="name" name="ФИО" placeholder="Ваше имя" required>
    <input class="problem-input" type="name" name="тема" placeholder="Тема" required>
    <input class="number-input" type="text" name="Номер телефона" placeholder="Номер телефона" required>
    <textarea class="message-input" type="text" placeholder="Подробности" name="Подробности"></textarea>
    <button class="consult-button" type="Submit">Отправить заявку</button>
</form>