:host {
    align-items: center;
    display: flex;
    justify-content: top;
    overflow: auto;
    height: 100%;
    flex-direction: column;
}

.main-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;

}

.company-area {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 15px;
    flex-basis: 50%;
}

.routing-bar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    flex-basis: 50%;
    height: 100%;
}

.dropdown-btn, .dropdown-documents {
    text-decoration: none;
    font-size: 20px;
    -webkit-transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
    transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 20px;
    transition: all .2s ease-in;
    outline: none;
    height: 100%;
    border-style: none;
    background-color: #fff;
}

.dropdown-btn:hover {
    box-shadow: 0 0 40px 40px #d8d8d896 inset;
    transition: all 0s ease-in;
}


.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-civil, .dropdown-livings, .dropdown-family, .dropdown-arbitrazh {
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    width: 100%;
    text-align: center;
}

.dropdown-documents:hover {
    display: block;
}

.dropdown-content, .dropdown-documents {
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    width: 100%;
}

.dropdown-content, .dropdown-documents a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    background-color: #fff;
    transition: all 0s ease-in;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-civil-div:hover .dropdown-civil {
    display: block;
    left: 100%;
    top: 0%;
}

.dropdown-livings-div:hover .dropdown-livings {
    display: block;
    left: 100%;
    top: 25%;
}

.dropdown-family-div:hover .dropdown-family {
    display: block;
    left: 100%;
    top: 50%;
}

.dropdown-arbitrazh-div:hover .dropdown-arbitrazh {
    display: block;
    left: 100%;
    top: 75%;
}



.company-name {
    flex-basis: 50%;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    
}

a:hover {
    box-shadow: 0 0 40px 40px #d8d8d896 inset;
    transition: all .3s ease-in
}

a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    -webkit-transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
    transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 20px;
    transition: all .2s ease-in;
    outline: none;
    height: 100%;
}

#last {
    border-right: none;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;    
    padding: 30px 0px;
    width: 100%;
    background-color: #fff;
    font-weight: 600;
    border-top: solid #7a7a7a;
}