:host {
    align-items: center;
    display: flex;
    justify-content: top;
    overflow: auto;
    height: 100%;
    flex-direction: column;
}

.main-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.routing-bar {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: left;
    background-color: #fff;
    padding-left: 10%;
    flex-basis: 50%;
}

.company-name {
    flex-basis: 50%;
    text-align: center;
    font-size: 25px;
    text-shadow: 1px 1px 3px;
}

a:hover {
    box-shadow: 0 0 40px 40px #d8d8d896 inset;
}

a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    -webkit-transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
    transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 20px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0px;
    width: 100%;
    background-color: rgb(235, 235, 235);
    font-weight: 600;
}