<div class="header">
    <div class="header-content">
        <p>ЮРИДИЧЕСКИЕ УСЛУГИ<br>ФИЗИЧЕСКИМ И ЮРИДИЧЕСКИМ ЛИЦАМ</p>
        <p class="description">Юридические консультации, суды общей юрисдикции,<br>
            арбитражные суды, сопровождение сделок.<br>
            Помощь по всем направлениям.</p>
        <form>
            <button class="consult-button" routerLink="contacts">Получить консультацию</button>
        </form>
    </div>
</div>
<div class="main-content">
    <div class="main-content-header">
        Основные принципы работы нашей компании
    </div>
    <div class="grid-container">
        <div class="description-box">
            <h3>Профессионализм</h3>
            Мы определяем сферу деятельности и область права,
            а также необходимую компетенцию сотрудника для успешного выполнения
            поставленной задачи при минимальных расходах на работу, что позволяет
            держать на должном уровне соотношение цены и качества оказываемых услуг.
        </div>
        <div class="description-box">
            <h3>Строгий контроль за работой наших специалистов</h3>
            Мы постоянно контролируем, в том числе коллегиально,
            не только процесс планирования действий наших работников
            по конкретному вопросу, но и результаты их выполнения
            для внесения необходимых корректировок.
        </div>
        <div class="description-box">
            <h3>Объективность</h3>
            Мы не вводим клиента в заблуждение относительно перспектив
            разрешения поставленных вопросов и не навязываем те услуги,
            которые не принесут должного результата в их решении,
            концентрируясь лишь на эффективных. Это также позволяет
            клиенту избежать ненужных трат времени и средств.
        </div>
        <div class="description-box">
            <h3>Внимательность</h3>
            Мы уделяем большое внимание всем нашим текущим клиентам,
            что позволяет умело и творчески подходить к решению поставленных задач.
        </div>
        <div class="description-box">
            <h3>Коммуникация</h3>
            Наша команда во главе с руководством постоянно находится на связи с
            клиентом в готовности предоставить информацию о текущем статусе разрешения
            поставленной задачи. Сообщая о достигнутом, мы даем возможность участия
            заказчика в работе по дальнейшему планированию мероприятий для успешного
            выполнения заданного.
        </div>
        <div class="description-box">
            <h3>Конфиденциальность</h3>
            Мы строго охраняем все полученные от клиента и в процессе работы сведения
            в соответствии с ФЗ «О персональных данных», ФЗ «О коммерческой тайне»
            и другими законами и подзаконными актами.
        </div>
        <div class="description-box">
            <h3>Честность и порядочность</h3>
            В нашей работе мы не допускаем возможности заключения в будущем договоров
            на оказание услуг со стороной, которая является оппонентом нашего клиента
            по ранее заключенному договору, даже если предмет нового договора является иным.
            Один раз выбрав сторону, с которой мы сотрудничаем, мы и в будущем не меняем
            своего решения даже при наличии коммерчески более выгодных условий.
        </div>
        <div class="description-box">
            <h3>Финансовая и деловая дисциплина</h3>
            МВступая в партнерские отношения с клиентом, мы автоматически принимаем на себя
            весь комплекс обязанностей сделать все возможное для выполнения задачи и
            соблюдения интересов клиента.
        </div>
    </div>
    <div class="client-header">
        Что мы хотим видеть в наших клиентах:
    </div>
    <div class="client-div">
        <div class="client-box">
            <h3>Открытость</h3>
            При выборе нашей компании в качестве исполнителя оказываемых юридических услуг,
            мы должны быть убеждены, что все сообщаемые сведения и предоставляемые
            нам документы полны, точны и соответствуют действительности. Только в таком случае мы,
            даже в непростой ситуации, сможем оценить все возможные варианты развития событий,
            дать полную и реальную оценку происходящему, спланировать нужные в конкретной ситуации
            действия и понимать четкую перспективу результата.
        </div>
    </div>
    
</div>